@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

body {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

body h1, h3 {
    font-family: 'Fraunces', serif;
}

.navbar {
    font-family: 'Barlow', sans-serif;;
}

.header {
    background-image: url("images/desktop/image-header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    padding-top: 2%;
    font-family: 'Barlow', serif;
    color: white;
}

.navbar {
    padding: 20px;
}

.title {
    padding-top: 7%;
    font-family: 'Fraunces', serif;
}

.title h1 {
    font-size: 61px;
    letter-spacing: 9px;
    padding-left: 6px;
    font-family: 'Fraunces', serif;}

.title img {
    padding-left: 49%;
    padding-right: 49%;
    padding-top: 6%;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

.transformbrand {
    grid-column: 1;
    grid-row: 1;
    padding: 15%;
}

.transformbrand h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 40pt;
}

.transformbrand p {
    font-family: 'Barlow', sans-serif;
    font-size: 14pt;
}

.eggimage {
    grid-column: 2;
    grid-row: 1;
    background-image: url('images/desktop/image-transform.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
}

.cupimage {
    grid-column: 1;
    grid-row: 2;
    background-image: url("images/desktop/image-stand-out.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
}   

.cupimage img {
    width: 100%;
}

.textblurb {
    grid-column: 2;
    grid-row: 2;
    padding: 15%;
}

.cherries {
    grid-column: 1;
    grid-row: 3;
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: hsl(167, 40%, 24%);
    
}

.photography {
    grid-column: 2;
    grid-row: 3;
    background-image: url('images/desktop/image-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: hsl(198, 62%, 26%)
}

.imagetext {
    text-align: center;
    padding-top: 55%;
    padding-left: 25%;
    padding-right: 25%;
}

.testimonials {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5%;
}

.col-md-4 img {
    border: 1px;
    border-style: solid;
    border-radius: 100%;
    margin-top: 20px;
    display: block;
    margin-left: 35%;
    margin-right: 20%;
    position: relative;

}

.text {
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.imagescontainer {
    display: flex;
    flex-direction: row;
}

.imagescontainer 
    .col-md-3,
    .col-sm-6 {
        padding: 0;
}

.row {
    padding-top: 5%;

}

.col-md-3 img {
    width: 100%;
}

.footer {
    background-color: aquamarine;
    color: hsl(168, 34%, 41%);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.footer li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 40px;
    padding-top: 30px;
}

.attribution {
    text-align: center;
}

@media (max-width: 1000px) {
    body {
        margin: 0;
    }

    .header {
        background-image: url('images/mobile/image-header.jpg');
        height: 70vh;
        width: 100vw;
    }

    .title h1 {
        font-size: 40px;
    }

    .title img {
        padding-left: 47%;
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 0px;
        width: 100vw;
    }

    .eggimage {
        grid-column: 1;
        grid-row: 1;
        background-image: url('images/mobile/image-transform.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .transformbrand {
        grid-column: 1;
        grid-row: 2;
        padding: 20px;
    }

    .cupimage {
        grid-column: 1;
        grid-row: 3;
        background-image: url('images/mobile/image-stand-out.jpg');
    }   

    .textblurb {
        grid-column: 1;
        grid-row: 4;
        padding: 25px;
        margin-bottom: 30px;
    }

    .cherries {
        grid-column: 1;
        grid-row: 5;
        background-image: url('images/mobile/image-graphic-design.jpg');  
    }

    .photography {
        grid-column: 1;
        grid-row: 6;
        background-image: url('images/mobile/image-photography.jpg');
        
    }
}